:root {
    --primary: #181E4B;
    --secondary: #DF6951;
    --tertiary: #8285A4;
    --accent: #FFAB27;
}

/*  */
.navbar {
    z-index: 3;
    border-radius: 5rem;
    width: 97%;
}

.aksen-img {
    z-index: 1;
}

* {
    z-index: 2;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: #ffffff;
}

/* navbar */
.nav-color {
    background-color: var(--accent);
    transition: .4s ease-in-out;
}

.button-primary {
    width: 133px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
}

.button-secondary {
    box-shadow: 0px 3px 15px .8px #ffffff60;
    border: 1px solid white;
    background-image: linear-gradient(to right, #ffffffaf, #fff, #ffffffbe);
}

/* HERO SECTION */

#hero {
    background: url(asset/jadoo/Background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.jadoo-text {
    width: 89%;
    margin-top: 50px;
}

.jadoo-container {
    margin-top: 7rem;
}

.img-hero {
    width: 549px;
    height: 615px;
    margin-top: 5rem;
}


.header-text {
    color: var(--primary);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Volkhov', serif;
}

.sub-title {
    color: #8285A4;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.ic-trip {
    width: 15px;
    height: 17px;
}

.place-range {
    font-family: 'Volkhov', serif;
    color: var(--primary);
    margin: 0;
    padding: 0;
}



.days-trip {
    margin: 0;
    padding: 0;
    color: var(--tertiary);
    font-size: 16px;
    font-weight: 600;
}

.icon-booking {
    width: 44px;
    height: 45px;
    flex-shrink: 0;
}

#layanan card {
    transition: .5s ease-in-out;
}

#layanan card:hover {
    transform: translateY (1rem);
}

.desc-booking-text {
    margin: 0;
    color: var(#5E6282);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.5%;
    /* 19.92px */
}

.img-style {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
}

.img-booking {
    width: 530px;
    height: 501px;
}

.card-testimonial {
    padding: 1rem 1.2rem;
    background-color: white;
    box-shadow: 0px 3px 15px .8px #EEF0F5;
    font-size: 14px;
    margin-top: .6rem;
    line-height: 1.5rem;
}

.card-title {
    font-size: 20px;
}

.card-text {
    font-size: 14px;
}

.text-wrapper {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    width: 98%;
    margin-top: 2rem;
}

.text-wrapper img {
    width: 180px;
    height: 95px;
    margin-right: 4rem;
}

.marquee {
    animation: marquee 3000ms linear infinite;
    color: #A6A3AC;
    font-size: 1.2rem;
    white-space: nowrap;
    width: 98%;
    padding: .2rem;
    display: flex;
    align-items: center;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100%, 0);
    }
}


.subscribe-text {
    color: #5E6282;
    font-weight: 600;
    font-size: 21px;
}

.text-color {
    color: var(#39425D);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn {
    padding: .3rem 3rem;
    border-radius: 30px;
    color: var(--primary);
    background-size: 200%;
    transition: .5s;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .001rem;
    text-align: center;
    cursor: pointer;
    height: 50px;
    transform: translateY(0px);
}

.btn1 {
    padding: .3rem 3rem;
    border-radius: 15px;
    color: white;
    background-size: 200%;
    transition: .5s;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .001rem;
    text-align: center;
    cursor: pointer;
    height: 60px;
    transform: translateY(0px);
}

.button-send {
    margin-left: 3rem;
    box-shadow: 0px 3px 15px .8px #f4654f59;
    background-image: linear-gradient(to right, #F4664F, #FF946D, #F4664F);
}

.btn:hover {
    box-shadow: none;
    background-position: right;
    color: var(--primary);
    transform: translateY(2px);
}

.btn1:hover {
    box-shadow: none;
    background-position: right;
    color: white;
    transform: translateY(2px);
}

strong {
    color: var(--primary);
}

.accordion-body,
.accordion-button {
    color: #181e4bb7;
    font-size: 16px;
}

footer {
    width: 100%;
    height: 230px;
    background: url(asset/jadoo/footer-bg.png);
}

footer a {
    color: var(--primary);
    font-size: 20px;
    text-decoration: none;
    transition: .5s ease-in-out;
}

footer a:hover {
    text-decoration: underline;
    transform: translateY(-.6rem);
}

.copyright {
    color: var(--primary);
    font-size: 14px;
    bottom: 1%;
}

.bg-transparent {
    transition: .3s ease-in-out;
}


@media screen and (max-width: 922px) {
    .img-hero {
        width: 386px;
        height: 415px;
        margin-top: 5rem;
    }

    .img-booking {
        width: 530px;
        height: 701px;
    }
}

@media screen and (max-width: 576px) {
    #layanan {
        margin: 0rem;
    }

    .jadoo-text {
        display: none;
    }

    .img-hero {
        width: 486px;
        height: 525px;
        margin-top: 5rem;
    }

    .img-booking {
        height: 601px;
        width: auto;

    }

    .btn1 {
        padding: .1rem 1.5rem;
        margin: 0;
    }


}

@media screen and (max-width: 350px) {

    .img-hero {
        width: 336px;
        height: 375px;
        margin-top: 5rem;
    }

    .img-booking {
        height: 401px;
        width: auto;
    }

    .header-text {
        color: var(--primary);
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
    }

    .card-text {
        font-size: 10px;
        line-height: 14px
    }

    .accordion-body {
        color: #181e4bb7;
        font-size: 12.5px;
    }

    .accordion-button {
        color: #181e4bb7;
        font-size: 14px;
    }

    .subscribe-text {
        font-size: 16px
    }

    .card-title {
        font-size: 18px;
    }

    .text-color
    {
        color: transparent;
    }

    footer a {
        margin-bottom: 3rem;
        text-align: center;
    }

}